services:
  security-gateway:
    image: ghcr.io/raaad1on/nginx-gag:redirect-latest
    container_name: nginx-redirect
    network_mode: host
    environment:
      - SOURCE_DOMAIN=example.com
      - TARGET_DOMAIN=lumastream.officialbot.org
    volumes:
      - ./nginx-redirect.conf:/etc/nginx/nginx.conf.template:ro
      - /etc/nginx/ssl:/etc/nginx/ssl:ro
      - /dev/shm/:/dev/shm/
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:9000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s